extends layout

block content
  div(ng-controller="FileUploadCtrl")
    h1= title
    p Welcome to #{title}
    h4 Upload Files :
    label(for="file-selector")
        input(id="file-slector" type="file" class="file" name="file" file-model="myFile")
    button(ng-click="uploadFile()") Upload
    h4 {{errormessage}}
