doctype html
html(ng-app="FileUpload")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/vendors/angular.min.js')
    script(type="text/javascript", src='/javascripts/vendors/angular-animate.min.js')
    script(type="text/javascript", src='/javascripts/FileUpload.js')
  body
    block content
